<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=DBSRV;database=YMDB;uid=sa;pwd=amagineinc" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>